.goods-summarise>ul{
	display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.goods-summarise>li{
	width: 100%;
  text-align: center;
}
.director-bottom{
	background-color: #F7F7F7;
	height: 30px;
}
.goods-summarise-list{
	width: 80%;
}
.director-bottom-select{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
.director-bottom-select:hover{
	background-color:#4CAF50 ;
}
.goods-bigpicture{
	position: relative;
	top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.goods-bigpicture>img{
	display: block;
	width: 50%;
	height: 50%;
}

